body {
  padding: 20px;
  font-family: "verdana";
  font-size: 12px;
  width: 500px;
}
.header{
  padding-bottom: 15px;
  font-size: 20px;
  font-weight:bold;
}

.title{
  padding-top: 10px;
  font-size: 14px;
  font-weight:bold;
}
